@font-face {
    font-family: Japanease; /* Гарнитура шрифта */
    src: url(HanZi.ttf); /* Путь к файлу со шрифтом */
   }
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
}

h1, h2, h3, h4, h5, h5, h6{
    margin: 0;
}
p{
    margin: 0;
}


/*HEADER---*/

.container{
    background-color: white;
    width: 90%;
    height: 1000px;
    margin-left: auto;
    padding-top: 9%;
    padding-left: 1%;
    box-sizing: border-box;
}
.header{
    box-shadow: 3px 3px 30px #1d1d1d;
    z-index: 2;
    align-items: center;
    display: flex;
    padding-left: 1.65%;
    padding-right: 20%;
    position: fixed;
    width: 100%;
    height: 16%;
    background: #1d1d1d;

}
.logo_header.animated{
    opacity: 1;
    transform: translate(0px, 0%);
    transition: 0.4s;
}
.logo_header{
    opacity: 0;
    transform: translate(0px, 120%);
    transition: 0.4s;
    user-select: none;
    width: 10%;
    height: 100%;
}
.header_h1.animated{
    opacity: 1;
    transform: translate(0px, 0%);
    transition: 0.4s;
}
.header_h1{
    transition: 0.4s;
    transform: translate(0px, 120%);
    opacity: 0;
    font-family: Japanease;
    color: #ff0000;
    margin-left: 6%;
    width: 40%;
    text-align: center;
    font-size: 18px;
    user-select: none;
}
.phones_header.animated{
    opacity: 1;
    transform: translate(0px, 0%);
    transition: 0.4s;
}
.phones_header{
    opacity: 0;
    transform: translate(0px, 120%);
    transition: 0.4s;
    margin-left: 6%;
    align-items: center;
    display: flex;
}
.phone_logo{
    width: 10%;
    height: 12%;
}
.phones_numbers_header{
    margin-left: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tel_header1{
    font-family: Japanease;
    transition: 0.4s;
    text-decoration: none;
    font-weight: 600;
    color: #ff0000;
}
.tel_header2{
    margin-top: 5%;
    font-family: Japanease;
    transition: 0.4s;
    text-decoration: none;
    font-weight: 600;
    color: #ff0000;
}
.tel_header1:hover{
    color: white;
    transition: 0.4s;
}
.tel_header2:hover{
    color: white;
    transition: 0.4s;
}

.location_wrapper.animated{
    opacity: 1;
    transform: translate(0px, 0%);
    transition: 0.4s;
}
.location_wrapper{
    opacity: 0;
    transform: translate(0px, 120%);
    transition: 0.4s;
    margin-left: 6%;
    align-items: center;
    display: flex;
}
.location_logo{
    width: 10%;
    height: 12%;
}
.loaction_p{
    margin-left: 2%;
    font-size: 18px;
    color: #ff0000;
    font-weight: 600;
    font-family: Japanease;
}




.action_wrapper.animated{
    opacity: 1;
    transition: 0.4s;
}

.action_wrapper.active{
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    background-color: #1d1d1d;
    height: 620%;
    margin-right: 10%;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 45%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.action_wrapper{
    opacity: 0;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-right: 10%;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 45%;

}
.visible_part{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.action_h1{
    position: absolute;
    font-family: Japanease;
    color: #ff0000;
    font-size: 22px;
    top: 35%;
}
.arrow_down_img{
    cursor: pointer;
    transition: 0.4s;
    position: absolute;
    margin-top: 5%;
    width: 1.5%;
    bottom: 10%;
}

.arrow_down_img.active{
    transition: 0.4s;
    transform: rotate(180deg);
}


.action_p1.active{
    transition: 0.8s;
    opacity: 1;
    font-size: 16px;
    font-weight: 600;
    top: 125%;
    width: 10%;
    color: #ff0000;
    position: absolute;
}
.action_p1 span{
    font-family: Japanease;
}
.action_p1{
    transition: 0.2s;
    opacity: 0;
    font-size: 0;
    font-weight: 600;
    top: 125%;
    width: 10%;
    color: #ff0000;
    position: absolute;
}
.action_p2.active{
    transition: 0.8s;
    opacity: 1;
    font-size: 16px;
    font-weight: 600;
    top: 250%;
    width: 6%;
    color: #ff0000;
    position: absolute;
}

.action_p2{
    transition: 0.2s;
    opacity: 0;
    font-size: 0;
    font-weight: 600;
    top: 250%;
    width: 6%;
    color: #ff0000;
    position: absolute;
}

.action_p2 span{
    font-family: Japanease;
}




/*LEFTSIDE_HEADER---*/

.leftside_header{
    box-shadow: 3px 3px 30px #1d1d1d;
    z-index: 3;
    justify-content: space-evenly;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 1.7%;
    box-sizing: border-box;
    margin-top: 8%;
    background-color: #1d1d1d;
    width: 10%;
    height: 100%;
    position: fixed;
}
.leftside_header_h1.animated{
    opacity: 1;
    transform: translate(0px, 0px);
    transition: 0.4s;
}
.leftside_header_h1{
    opacity: 0;
    transform: translate(-120%, 0px);
    transition: 0.4s;
    font-family: Japanease;
    color: #ff0000;

}


.sets_wrapper_left.animated{
    opacity: 1;
    transform: translate(0%, 0%);
    transition: 0.4s;
}
.sets_wrapper_left{
    opacity: 0;
    transform: translate(-120%, 0%);
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}
.sets_img{
    transition: 0.4s;
    width: 45%;
}
.set_h3{
    transition: 0.4s;
    font-family: Japanease;
    color: #ff0000;
}
.set_h3.active{
    transition: 0.4s;
    font-family: Japanease;
    color: #ff0000;
}

.roll_wrapper_left.animated{
    opacity: 1;
    transform: translate(0%, 0%);
    transition: 0.4s;
}
.roll_wrapper_left{
    opacity: 0;
    transform: translate(-120%, 0%);
    transition: 0.4s;
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}
.rolls_img{
    transition: 0.4s;
    width: 45%;
}
.roll_h3{
    transition: 0.4s;
    font-family: Japanease;
    color: white;
}
.roll_h3.active{
    transition: 0.4s;
    font-family: Japanease;
    color: #ff0000;
}



.maki_wrapper.animated{
    opacity: 1;
    transform: translate(0px, 0%);
    transition: 0.4s;
}
.maki_wrapper.activated{
    background-color: #ff0000;
    transition: 0.7s;
}
.maki_wrapper{
    opacity: 0;
    transform: translate(-120%, 0%);
    transition: 0.4s;
    cursor: pointer;
    width: 100%;
}
.maki_img{
    transition: 0.4s;
    width: 45%;
}
.maki_h3{
    transition: 0.4s;
    font-family: Japanease;
    color: white;
}
.maki_h3.active{
    transition: 0.4s;
    font-family: Japanease;
    color: #ff0000;
}




.sushi_wrapper.animated{
    opacity: 1;
    transform: translate(0px, 0%);
    transition: 0.4s;
}
.sushi_wrapper.activated{
    background-color: #ff0000;
    transition: 0.7s;
}

.sushi_wrapper{
    opacity: 0;
    transform: translate(-120%, 0%);
    transition: 0.4s;
    transition: 0.7s;
    cursor: pointer;
    width: 100%;
}
.sushi_img{
    transition: 0.4s;
    width: 45%;
}
.sushi_h3{
    transition: 0.4s;
    font-family: Japanease;
    color: white;
}
.sushi_h3.active{
    transition: 0.4s;
    font-family: Japanease;
    color: #ff0000;
}


.gunkans_wrapper.animated{
    opacity: 1;
    transform: translate(0px, 0%);
    transition: 0.4s;
}
.gunkans_wrapper.activated{
    background-color: #ff0000;
    transition: 0.7s;
}
.gunkans_wrapper{
    opacity: 0;
    transform: translate(-120%, 0%);
    transition: 0.4s;
    transition: 0.7s;
    cursor: pointer;
    width: 100%;
}
.gunkans_img{
    transition: 0.4s;
    width: 45%;
}
.gunkans_h3{
    transition: 0.4s;
    font-family: Japanease;
    color: white;
}
.gunkans_h3.active{
    transition: 0.4s;
    font-family: Japanease;
    color: #ff0000;
}


.krevetki_wrapper.animated{
    opacity: 1;
    transform: translate(0px, 0%);
    transition: 0.4s;
}
.krevetki_wrapper.activated{
    background-color: #ff0000;
    transition: 0.7s;
}
.krevetki_wrapper{
    opacity: 0;
    transform: translate(-120%, 0%);
    transition: 0.4s;
    transition: 0.7s;
    box-sizing: border-box;
    padding-top: 15%;
    height: 25%;
    cursor: pointer;
    width: 100%;
}
.krevetki_img{
    transition: 0.4s;
    width: 55%;
}
.krevetki_h3{
    transition: 0.4s;
    font-family: Japanease;
    color: white;
}
.krevetki_h3.active{
    transition: 0.4s;
    font-family: Japanease;
    color: #ff0000;
}







/*CONTAINER*/





.banner_img{
    width: 100%;
    height: 100%;
}
.krevetki_banner_h1{
    font-family: Japanease;
    position: absolute;
    color: white;
    top: 40%;
    left: 70%;
}

.krevetki_banner{
    display: block;
    position: absolute;
    width: 35%;
    height: 10%;
}

.krevetki_wrapper_c{
    margin-top: 10%;
    width: 100%;
    display: flex;
}
.krevetki_img_c{
    width: 15%;
    height: 10%;
    margin-left: 10%;
}
.krevetki_wrapper_c_text span{
    color: #ff0000;
}
.krevetki_wrapper_c_text ul{
   line-height: 2.3;
}

